* {
    box-sizing: border-box;
}
@mixin flex-center {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


body {

    @include flex-center();
    font-family: 'JetBrains Mono', sans-serif;

    

    main {

        @include flex-center();
        width: min(100%, 430px);
        height: 100vh;
        background-color: #18171F;

        h1 {
            text-align: center;
            font-size: 1rem;
            color: #817D92;
        }
    }

    @media screen and (min-width: 768px) {

        main {
            width: 768px;
            height: 1024px;

            h1 {
                font-size: 1.5rem;
            }
        }
        
    }

    @media screen and (min-width: 1440px) {

        main {

            width: 1440px;
        }


        
    }
}