@charset "UTF-8";
.password-generator {
  width: 343px;
  height: 423px;
  background-color: #24232C;
  color: white;
  padding: 0 1rem;
}
.password-generator .password-length-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.password-generator .password-length-text-container .character-length-text {
  font-weight: bold;
}
.password-generator .password-length-text-container .length-digits {
  color: #A4FFAF;
  font-size: 24px;
  font-weight: bold;
}
.password-generator input[type=range] {
  width: 311px;
  background: linear-gradient(to right, #A4FFAF 0%, #A4FFAF var(--range-percentage), #18171F var(--range-percentage), #18171F 100%);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 8px;
  border-radius: 5px;
  outline: none;
}
.password-generator input[type=range]::-webkit-slider-thumb {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
}
.password-generator input[type=range]::-moz-range-thumb {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: none;
}
.password-generator label {
  display: block;
  margin: 1rem 0;
}
.password-generator label input {
  margin-right: 1rem;
}
.password-generator label input[type=checkbox]:checked::before {
  content: "✓";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #A4FFAF;
  text-align: center;
  font-weight: 200;
}
.password-generator .strength-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #18171F;
  width: 311px;
  height: 56px;
  padding: 0 1rem;
}
.password-generator .strength-container h2 {
  color: #817D92;
  font-size: 1rem;
}
.password-generator .strength-container .bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.password-generator .strength-container .bar-container p {
  font-size: 18px;
  margin-right: 10px;
}
.password-generator .strength-container .bar-container .bars {
  width: 10px;
  height: 28px;
  border: 1px solid white;
  margin: 0 3px;
}
.password-generator .strength-container .bar-container .red {
  background-color: #F64A4A;
}
.password-generator .strength-container .bar-container .orange {
  background-color: #FB7C58;
}
.password-generator .strength-container .bar-container .yellow {
  background-color: #F8CD65;
}
.password-generator .strength-container .bar-container .green {
  background-color: #A4FFAF;
}
.password-generator .generate-button {
  width: 311px;
  height: 56px;
  background-color: #A4FFAF;
  border: none;
  margin-top: 14px;
}
.password-generator .generate-button .arrow-icon {
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .password-generator {
    width: 540px;
    height: 528px;
    padding: 0 2rem;
  }
  .password-generator .password-length-text-container .character-length-text {
    font-size: 1.125rem;
  }
  .password-generator .password-length-text-container .length-digits {
    font-size: 2rem;
  }
  .password-generator label {
    font-size: 1.125rem;
  }
  .password-generator input[type=range] {
    width: 476px;
  }
  .password-generator .strength-container {
    width: 476px;
    height: 72px;
  }
  .password-generator .strength-container h2 {
    font-size: 1.125rem;
  }
  .password-generator .strength-container .bar-container p {
    font-size: 1.5rem;
  }
  .password-generator .generate-button {
    width: 476px;
    height: 65px;
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 1440px) {
  .password-generator input[type=range]::-webkit-slider-thumb:hover {
    background-color: #18171F;
  }
  .password-generator input[type=range]::-moz-range-thumb:hover {
    background-color: #18171F;
  }
  .password-generator .generate-button:hover {
    background-color: #24232C;
    color: #A4FFAF;
    border: 1px solid #A4FFAF;
  }
  .password-generator .generate-button:hover img {
    background-color: #A4FFAF;
  }
}/*# sourceMappingURL=PasswordGenerator.css.map */